<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text data</title>
</head>
<body>
<div>
    <button onclick="location.href='crud.html'">Create</button>
</div>
<table>
    <tr>
        <th>#</th>
        <th>Text</th>
        <th>Radio</th>
        <th>Select</th>
        <th>Textarea</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>
            <button>Delete</button>
        </td>
    </tr>
</table>
</body>
</html>